<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/CSS/style.css">
    <title>Editar Cuenta</title>
</head>
<body>
    <h1>Editar Datos</h1>
    <div class="dashboard">
        <a href="../index.html"><button>Volver al Inicio</button></a>
        <a href="Membresia.html"><button>¿Quieres aplicar a una membresia?</button></a>
        <a href="Cuenta.html"><button>Volver</button></a>
        <a href="Contactos.html"><button>Contactos</button></a>
    </div>
</body>
</html>
