<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/CSS/style.css">
    <title>Cuenta</title>
</head>
<body>
    <h1>Tu Cuenta</h1>
    <div class="dashboard">
        <a href="../index.html"><button>Volver al Inicio</button></a>
        <a href="../index.html"><button>Cerrar Seccion</button></a>
        <a href="Login.html"><button>Iniciar Seccion</button></a>
        <a href="Registro.html"><button>¿No tienes Cuenta? Registrate</button></a>
        <a href="Membresia.html"><button>Ver Membresias</button></a>
        <a href="CuentaEdit.html"><button>Editar datos de la Cuenta</button></a>
        <a href="Contactos.html"><button>Contactos</button></a>
    </div>
</body>
</html>
