<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/CSS/style.css">
    <title>Inicio</title>
</head>
<body>
    <h1>Panel Principal</h1>
    <div class="dashboard">
        <a href="../index.html"><button>Volver a la Pagina</button></a>
        <a href="Cuenta.html"><button>Perfil</button></a>
        <a href="Deseos.html"><button>Lista de Deseos</button></a>
        <a href="Carrito.html"><button>Carrito</button></a>
        <a href="Contactos.html"><button>Contactos</button></a>
    </div>
</body>
</html>
