<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/CSS/style.css">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <div class="dashboard">
        <a href="../index.html"><button>Iniciar Seccion</button></a>
        <a href="RecuperarContraseña.html"><button>Recuperar Contraseña</button></a>
        <a href="Registro.html"><button>¿No tienes Cuenta? Registratre</button></a>
    </div>
</body>
</html>